table {
    border: 1px black solid;
    border-collapse: collapse;
}

th {
    border: 1px black solid;
    border-collapse: collapse;
}

td {
    border: 1px black solid;
    border-collapse: collapse;
}
